*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

body{
    background-color: black;
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#000000,#50046c);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search input{
    border: 0;
    outline: 0;
    padding: 1rem;
    height:4rem;
    border-radius: 2rem;
    flex:1;
    margin-right:1 rem ;
    font-size: 1.4rem;
    width: 80%;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin:1rem;
    cursor: pointer;
}

.search button img{
    width: 25px;
    
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather img{
   max-width:10rem;
   width: 100%;
    height:auto;
}
.weather h1{
    font-size: 5rem;
    font-weight: 500;
}
.weather h2{
    font-size: 3rem;
    font-weight: 500;
    margin-top: -10px;
}
.details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;

}
.col img{
    width: 40px;
    margin-right:10px ;
}

.humidity{
    font-size: 20px;
    margin-top: -6px;
}
@media(max-width: 576px){
    .weather h1{
        font-size: 4rem;
        font-weight: 300;
    }
    .weather h2{
        font-size: 2.5rem;
        font-weight: 300;
        margin-top: -5px;
    }
    .details{
        flex-direction: column;
        margin: 1rem;
    }
    .col{
        margin: 1rem;
    }
}